body {
  font-family: system-ui;
  background: gray;
  color: white;
  text-align: center;
}

button {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.choices img {
    max-width: 100%;
    max-height: 100%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choiceDisplay {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.choiceDisplay img {
    width: 100px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.label {
    display: flex;
    flex-direction: column;
}